[submodule "nrflib"]
	path = nrflib
	url = https://github.com/lolotan/nrflib
[submodule "raster-fonts"]
	path = raster-fonts
	url = https://github.com/idispatch/raster-fonts
[submodule "matrix"]
	path = matrix
	url = https://github.com/adafruit/rpi-rgb-led-matrix.git
